<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".NotasApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_notas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_notas"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ajustes.AjustesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ajustes.AcercaDeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".seguridad.BloqueoActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditLibretaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewNotaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditNotaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <receiver
            android:name=".recordatorios.RecordatorioReceiver"
            android:exported="false" />

        <receiver
            android:name=".recordatorios.BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>